#emoji-1 {
    font-size:3rem;    
}

#emoji-2 {
    font-size:10px;
}

#emoji-3 {
    font-size:1rem;    
}

#emoji-4 {
    font-size:5em;   
}

#emoji-5 {
    font-size:8px;  
}

#emoji-6 {
    font-size: 7em;   
}

#emoji-7 {
    font-size:30px;   
}

#emoji-8 {
    font-size:5rem;    
}

#emoji-9 {
    font-size: 12px;    
}

#emoji-10 {
    font-size: 1000px;  
}

#emoji-11 {
    font-size: 100px;   
}

#emoji-12 {
    font-size: 105px;  
}

#emoji-13 {
    font-size: 21px;    
}

#emoji-14 {
    font-size: 200px;     
}

#emoji-15 {
    font-size: 4rem;   
}
