/* seccion formulario de contacto */
.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
  background: linear-gradient(135deg, var(--verde-bosque), var(--verde-menta));
}

.productos h2,
.contacto h2 {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: var(--beige-arena);
  color: var(--verde-bosque);
  font-size: 2.5rem;
}

.contacto h2 {
  border-top: 3px solid var(--verde-menta);
}

.productos h2 {
  border-bottom: 3px solid var(--verde-menta);
}

.contacto form {
  width: 50%;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contacto form input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--blanco-hueso);
  font-size: 1rem;
}

.contacto form input:focus {
  outline: none;
  box-shadow: 0 0 3px var(--beige-arena);
}

.contacto .botones {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.botones button {
  flex: 1;
  max-width: 12.5rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  color: var(--gris-suave);
  font-weight: bold;
  background-color: var(--blanco-hueso);
  transition: all 0.3s ease;
}

.botones button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.botones button[type="submit"]:hover { 
  background-color: var(--verde-bosque);
  color: var(--blanco-hueso);
}

/* Tablet Responsive */
@media (max-width: 1024px) {
  .contacto h2 {
    font-size: 2rem;
  }
  
  .contacto form {
    width: 80%; 
  }
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .contacto {
    padding: 0 0 2.5rem 0; 
    gap: 2rem;
  }

  .contacto form {
    width: 90%; 
    gap: 1.5rem;
  }

  .contacto .botones {
    flex-direction: column; 
    align-items: center; 
    gap: 1rem;
  }
  
  .botones button {
    width: 100%; 
    max-width: none; 
  }
}