/* header */
header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;

}

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--verde-bosque);
  color: var(--blanco-hueso);
}

.opciones {
  display: flex;
  gap: 1.5rem;
}

.opciones div {
  width: 80px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.opciones div img {
  width: 0.5rem;
  height: 0.5rem;
  object-fit: contain;
}

/* nav */
nav {
  background-color: var(--beige-arena);
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

h1 {
  display: none;
}

nav a,
.filtros a {
  text-decoration: none;
  color: var(--gris-suave)
}

nav > a {
  width: 10rem;
  height: auto;
  overflow: hidden;
}

nav > a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
}

li {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* Responsive */
/* Tablet Responsive */
@media (max-width: 1024px) {
  .encabezado {
    padding: 0.5rem 1.5rem; /* Menos padding lateral */
  }

  nav {
    padding: 1.5rem; /* Menos padding lateral */
  }

  ul {
    gap: 1rem; /* Menos espacio entre elementos del menú */
  }

  li {
    font-size: 1.1rem; /* Fuente ligeramente más pequeña */
  }
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .encabezado {
    flex-direction: column; /* Apila el texto de ofertas y las opciones */
    gap: 0.75rem; /* Añade un espacio entre los elementos apilados */
    padding: 0.75rem;
    text-align: center;
  }

  nav {
    flex-direction: column; /* Apila el logo y el menú de navegación */
    gap: 1.5rem;
    padding: 1rem;
  }

  ul {
    flex-direction: column; /* Apila los items de la lista de navegación */
    gap: 1rem;
    width: 100%;
    text-align: center;
  }
}