/* seccion productos */
.productos {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 2rem;
  background: center/cover no-repeat url('../images/fondos/fondosProductos.png');
  text-align: center;
}

.filtros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.filtros a {
  text-decoration: none;
  background-color: var(--blanco-hueso);
  color: var(--verde-bosque);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: 2px solid var(--verde-bosque);
  transition: all 0.3s;
  font-weight: bold;
}

.filtros a:hover {
  background-color: var(--verde-menta);
  color: var(--blanco-hueso);
  outline: 2px solid var(--blanco-hueso);
}

.list-images {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.product-card {
  flex-basis: calc(33.333% - 1.5rem); /* Para 3 columnas con gap */
  max-width: 21.875rem; 
  height: 30rem;
  background-color: var(--blanco-hueso); 
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.3s ease;
  padding: 0.5rem;
}

.product-card:hover {
  transform: scale(1.03);
  outline: 2px solid var(--verde-bosque);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-card .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Ocupa el espacio restante */
    padding: 0.5rem;
}

.product-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.product-card span {
  font-size: 1.5rem;
  color: var(--verde-menta);
  font-weight: bold;
}

/* Tablet Responsive */
@media (max-width: 1024px) {
  .list-images {
    width: 95%;
  }

  .product-card {
    /* Ahora para 2 columnas */
    flex-basis: calc(50% - 1.5rem); 
    height: 28.125rem; /* Altura ligeramente ajustada */
  }
}

/* Mobile Responsive */
@media (max-width: 767px) {
  .productos {
    padding: 2.5rem 1rem;
  }

  .list-images {
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    gap: 2rem;
  }

  .product-card {
    width: 90%; 
    max-width: 21.875rem; 
    height: auto;
    flex-basis: auto; 
  }

  .product-card img {
      height: 15.625rem; 
  }
}