.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    color: white;
    transition: transform 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
    
}

.primary {
    background-color: #3b82f6;
}

.secondary {
    background-color: rgb(71, 28, 71);
}