body {
    font-family: sans-serif;
    transition: margin-left .5s;
    /* Animación para el contenido principal */
}

/* Estilos para el Sidebar. Oculto por defecto fuera de la pantalla */
.sidebar {
    height: 100%;
    /* Altura completa */
    width: 250px;
    /* Ancho fijo */
    position: fixed;
    /* Se mantiene fijo al hacer scroll */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /* Lo movemos fuera de la pantalla hacia la izquierda */
    transform: translateX(-250px);
    padding-top: 60px;
    /* Transición suave para el efecto de aparición */
    transition: transform 0.5s;
}

/* Cuando el sidebar tiene la clase 'open', se posiciona en su lugar */
.sidebar.open {
    transform: translateX(0);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

/* Botón para abrir el sidebar */
.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}