* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    inline-size: 100vw;
    block-size: 100vh;
}

.centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

input {
    padding: 1rem;
    border-radius: 0.5rem;
}