@import '../../ejercicio-03/styles/styles.css';

/* Mobile */
header {
    flex: 1 1 15%;
}

.conteiner {
    display: flex;
    flex-direction: column;
    flex: 1 1 85%;
    
}

nav {
    flex: 1 1 10%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 75%
}

.wrap {
    flex: 1 1 60%;
}

main {
  flex: 1 1 45%;
}

aside {
   flex: 1 1 15%;
}

footer {
    flex: 1 1 15%;
}

/* Tablet */
@media (min-width: 500px) {
    aside {
        flex: 1 1 0%;
    }
}

/* Desktop */
@media (min-width: 1000px) {
    .conteiner {
        flex-direction: row;
    }

    nav {
        height: 100%;
    }
}

