@reference "./theme.css";

/* Layout */
.container {
    @apply flex min-h-screen bg-(--bg-main);
}

.sidebar {
    @apply fixed h-screen overflow-y-auto p-6 border-r border-(--border) bg-(--bg-sidebar);
    width: var(--sidebar-width);
}

.mainTitle {
    @apply text-[1.2rem] font-extrabold uppercase tracking-wider pb-4 mb-8 border-b border-(--border);
    color: var(--accent);
}

.moduleSection {
    @apply mb-6;
}

.moduleTitle {
    @apply text-[0.75rem] text-(--text-muted) uppercase mb-2 tracking-widest;
}

.link {
    @apply p-[10px_15px] no-underline rounded-lg transition-all duration-200 font-medium text-[0.9rem];
}

.linkList {
    @apply flex flex-col gap-1;
}

.link.active {
    @apply bg-(--accent) text-white !important;
}

.link:hover:not(.active) {
    @apply bg-slate-700/50 text(--text-main);
}

.content {
    @apply flex-1 flex justify-center p-10 pl-20;
    margin-left: var(--sidebar-width);
}

.card-content {
    background-color: var(--bg-card);
    @apply p-10 rounded-2xl border border-border shadow-2xl w-full max-w-[900px] min-h-[500px] flex flex-col gap-4 overflow-hidden;
}

/* Contenedor general para Home y Proximamente */
.status-container {
    @apply flex flex-col items-center justify-center h-full text-center;
}

.status-icon {
    @apply text-[5rem] mb-5;
    filter: drop-shadow(0 0 10px rgba(59, 130, 246, 0.5));
}

.status-title {
    @apply text-4xl font-bold mb-4;
    color: var(--accent);
}

.status-text {
    @apply text-base text-(--text-muted) max-w-lg mb-4;
}

.date-badge {
    @apply mt-6 px-5 py-2 rounded-full font-bold uppercase text-xs text-white bg-(--accent);
}


.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}