* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.usuarios-online {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 0 grey;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    overflow: hidden;
    background-color: green;
}