* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding: 1rem 0;
}

picture {
  width: calc(100% - 2rem);
  aspect-ratio: 2/1;
  flex: 1 1 90%;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  object-fit: cover;
}

/* tablet */
@media (min-width: 500px) {
  .grilla {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
  }

  picture {
    width: calc((100% - 3rem) / 2);
    flex: 1 1 45%;
  }
}

/* desktop */
@media (min-width: 1000px) {
  picture {
    width: calc((100% - 5rem) / 4);
    flex: 1 1 20%;
  }
}
