    /* Amarillo Simpson (para fondos o acentos): #FED90F
    Azul de Marge (para encabezados o botones): #00A9E7
    Rojo/Naranja de Bart (para acentos o botones): #F26223
    Blanco (para el fondo de las tarjetas y texto): #FFFFFF
    Negro/Gris oscuro (para texto): #222222 */

    :root {
        --amarillo: #FED90F;
        --azul: #00A9E7;
        --naranja: #F26223;
        --blanco: #FFFFFF;
        --gris: #222222;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: "Caveat", cursive;
        color: var(--gris);
    }

    header {
        text-align: center;

        & .top-bar {
            background-color: var(--azul);
            padding: 1rem;
        }

        & .main-header {
            background-color: var(--amarillo);
            padding: 1.5rem;
        }
    }

    .card-container {
        display: flex;
        padding: 2rem;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        & .card {
            position: relative;
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: column;
            border: 3px solid var(--naranja);
            border-radius: 1rem;
            overflow: hidden;
        }

        & .card-header {
            width: 100%;
            height: 15.625rem;

            & .heart-icon {
                position: absolute;
                padding: 1rem;
                right: 0;
                font-size: 1.5rem;
                color: var(--naranja);

                &:hover {
                    transform: scale(1.2);
                }
            }

            & .card-background {
                width: 100%;
                height: 15.625rem;
                object-fit: cover;
            }

        }

        & .card-body {
            padding: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            & .profile-pic {
                width: 5.625rem;
                height: 5.625rem;
                padding: 0.5rem;
                border-radius: 50%;
                border: 2px solid var(--naranja);
                position: absolute;
                object-fit: contain;
                top: -20%;
                background-color: var(--naranja);
            }

            & h2 {
                text-transform: uppercase;
                text-align: center;
                margin-top: 1.5rem;
                font-size: 2rem;
            }

            & p {
                font-size: 1.25rem;
                text-align: center;
            }

            & .btn-more {
                background-color: var(--amarillo);
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 0.5rem;
                transition: all 0.3s ease-in ;

                &:hover {
                    background-color: var(--azul);
                    color: var(--blanco);
                    transform: scale(1.2);
                }
            }

        }
    }

    footer {
        background-color: var(--azul);
        color: var(--blanco);
        padding: 1rem;
        text-align: center;
    }