* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #212121;
    color: #FAFAFA;
}

h1 {
    font-size: 120px;
    font-weight: 900;
}

#rojo {
    color: red;
}

#verde {
 color: green;
}

#azul {
 color: blue
}

#marron {
    color: brown;
}
